body {
    background-color: brown;
}

h1 {
    text-align: center;
}
h2 {
    /* display: flex; */
    text-align: center;
    /* justify-content: center; */
    
    height: auto;
    background-color: white;
}
h3 {
    text-align: center;
}
.grid-container {
    display: grid;
    grid-template-columns: 240px 240px 240px;
    grid-template-rows: 320px 320px;
    justify-content: center;
    /* visibility: hidden; */
}
.grid-item {
    border: 1px solid black;
    margin: 25px;
    border-radius: 24px;
    background-color: white;
    /* display: ; */
    /* visibility: hidden; */
    /* opacity: 0; */
}
.button-container {
    text-align: center;
    padding: 30px;
}
.start, .next, .reset {
    height: 40px;
    width: 75px;
}